@import url('https://fonts.googleapis.com/css?family=Tangerine');
body {
    font: 20pt arial;
    color: auto;
}

h1,
h2,
h3 {
    font-family: 'tangerine', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

button {
    font-size: 15pt;
    padding: 35px;
    background-color: rgb(121, 216, 216);
}